<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        <title>{{i18n.viewIssues}} | {{appName}}</title>
    </head>
    <body>
        <div class="container p-5">
            <div class="card card-body bg-light">
                <h1>{{i18n.viewIssues}} | <i>{{appName}}</i></h1>
                <div class="alert alert-success mt-4">
                     {{i18n.issueNotExistingInfo}} <a href="/{{urlKey}}">{{i18n.createIssue}}</a>.
                </div>

                {{#issues}}
                <div class="card p-3 mb-2">
                    <details>
                        <summary><b>{{title}}</b></summary>
                        <div>{{{body}}}</div>
                    </details>
                </div>
                {{/issues}}

                <small class="text-right">&copy; Hannes Rüger, 2020</small>
            </div>
        </div>
    </body>
</html>